on:
  fork:
  push:
    branches: [main]
  issues:
    types: [opened]
  pull_request_target:
    types: [opened]


jobs:
  welcome:
    runs-on: ubuntu-latest
    steps:
      - uses: EddieHubCommunity/gh-action-community/src/welcome@main
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
          issue-message: "Thank you for joining our community, happy. We are currently fixing this bug, our new version will be released soon."
          pr-message: "Thank you for contributing to this project, your support is much appreciated."
          footer: "Working with Love!"
